body {
    font-size: 25px;
    color: rgb(255, 255, 255)
}

h1 {
    text-align: left;
}

img {
    border-radius: 100%;
}

h2{
    font-size: 38px;
}

p {
    line-height: 40px;
}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
}


.titles {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gradient {
    background: linear-gradient(45deg, #C7A17C, #3E3A3C, #0F1110, #3b3b20, #3E342D);
    background-size: 500% 500%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% { 
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#paragraph {
    font-family: helvetica, sans-serif;
}

.link {
    text-decoration: none;
    background: linear-gradient( red, orange,white);
    padding: 10px 15px;
}

