body {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 0px;
}

h1 {
    text-align: center;
}

h2{
    font-size: 38px;
}

p {
    line-height: 40px;
}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
}

.titles {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.gradient {
    background: linear-gradient(45deg, #C7A17C, #3E3A3C, #0F1110, #3b3b20, #3E342D);
    background-size: 500% 500%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% { 
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#paragraph {
    font-family: helvetica, sans-serif;
}

.link {
    text-decoration: none;
    border-radius: 2%;
} 

a:hover{
    font-size: 30px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    
}


.descricao {
    border: 2px green solid;
    clear: both;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.descricao h1 {
    font-size: 70px;
    text-decoration: underline 3px solid white;
    text-decoration: overline 3px solid white;
}

.conteudo {
    border: 2px green solid;
    margin-top: 5px;
    margin-right: 315px;
    width: 50%;
    float: right;
}

.foto {
    width: 500px;
    padding: 5px;
    background-color: rgb(253, 218, 189);
    margin: auto;
    border-radius: 5%;
}

.pontos {
    border: 2px green solid;
    height: auto;
    width: 80%;
    margin:auto;
    margin-top: 230px;
    overflow: auto;
}

.pontos h2 {
    text-align: center;
    font-size: 45px;
    text-decoration: underline 3px white;
}


.soft {
    border: 2px green solid;
    text-align: center;
    list-style: none;
}

.soft ul {
    list-style: none;
}

